.container {
  display: grid;
  grid-template-columns: auto auto;
  height: 100%;
  gap: 4px;
  background-color: gray;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.form-error {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #e76462;
  border-radius: 4px;
  margin: 0;
}

.form-success {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #88e488;
  border-radius: 4px;
  margin: 0;
}
